body{background-color:mint;}

p{color:green; font-family:Calibri;}

h1{color:black; font-family:Aharoni;}

h3{color:violet; font-family:Garamond;}

ul{
  list-style-type: lower-roman;
  color: red;
  font-family: "Iskoola Pota";
}

table {background-color: cream;}
